<h1>
  <%= @post.name %>
</h1>

<p>
  <strong>Link:</strong>
  <%= link_to @post.url, @post.url %>
</p>

<p>
  <strong>Submitted by</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Score:</strong>
  <%= @post.reputation_for(:votes).to_i %>
</p>
<% if @post.username == @current_user.email %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Return to front page', posts_path %>
<h3>Comments</h3>

<table class="table">
<% for comment in @post.comments %>
	<tr>
  	<td><i><%= comment.title %> on <%= comment.created_at.strftime("%B %d, %Y") %>:</i><p><%= simple_format comment.comment %></p></td>
  </tr>
<% end %>
</table>

<h3>New Comment</h3>

<%= form_tag controller: "posts", action: "comment", id: @post.id %>
  <%= text_area "comment", "comment", :rows => 5, :cols => 50 %> <br />
  <%= submit_tag "Submit Comment" %>
</form>
